@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap");
:root {
	--inv-border: rgba(145, 145, 145, 0.233);
	--row-color: #edd37d;
	--default-font: "IM Fell Great Primer", serif;
	--kcd-blue: #3e476d;
}

body {
	margin: 0;
	font-size: 20px;
	font-family: var(--default-font);
	background-color: black;
}

.indexBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(/images/indexbg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
	gap: 12px;
}

.indexButton {
	padding: 8px;
	max-width: 200px;
	font-family: var(--default-font);
	font-size: 18px;
	background-color: #363d5e;
	border-color: var(--row-color);
	color: var(--row-color);
	cursor: pointer;
}

.indexButton:hover {
	background-color: #6570ac;
}

.logo {
	max-width: 25vw;
}

p {
	padding: 0;
	margin: 0;
}

.formBg {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-image: url(/images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	gap: 20px;
}

.formBg.update {
	background-image: url(/images/background2.jpg);
}

.cellContainer {
	display: flex;
	justify-content: space-between;
}

.rowIconContainer {
	display: flex;
	justify-self: end;
	gap: 8px;
}

.editIcon,
.deleteIcon {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.errorPartial {
	color: rgb(255, 0, 0);
	background-color: rgba(0, 0, 0, 0.466);
	list-style-type: upper-roman;
	border-radius: 12px;
}

.errorMsg {
	padding: 5px;
}

form {
	display: flex;
	flex-direction: column;
	background-color: var(--kcd-blue);
	color: var(--row-color);
	font-size: 18px;
	width: 250px;
	gap: 5px;
	padding: 15px;
	border-style: solid;
	border-image-source: url(/images/border.png);
	border-image-slice: 20 fill;
	border-image-outset: 80px 70px 125px 55px;
}

form > button,
form > select {
	background-color: #363d5e;
	font-family: var(--default-font);
	font-size: 18px;
	color: var(--row-color);
	border: 1px solid var(--row-color);
	cursor: pointer;
}

form > button:hover {
	background-color: var(--row-color);
	color: black;
}

legend {
	font-size: 22px;
	text-align: center;
}

input {
	border: 1px solid var(--row-color);
	color: var(--row-color);
	font-family: var(--default-font);
	font-size: 16px;
	background-color: #363d5e;
	height: 20px;
}

.border {
	padding: 20px;
	background-color: #473019ee;
	background-image: url(/images/wood-pattern.png);
	background-blend-mode: color-burn;
}

.inventoryButtons,
.categoryButtons {
	display: flex;
	background-color: black;
	padding: 5px 0px;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.inventoryButtons > button,
.categoryButtons > button {
	background-color: black;
	color: rgba(235, 228, 190, 0.493);
	border: none;
	font-family: var(--default-font);
	font-size: 24px;
	cursor: pointer;
}

.inventoryButtons > button:hover,
.categoryButtons > button:hover {
	color: rgb(235, 228, 190);
}

.inventoryWrapper,
.categoriesWrapper {
	background-color: var(--row-color);
	background-image: url(/images/textured-paper.png);
	height: 100vh;
	box-shadow: inset 0px 1px 24px -5px rgba(0, 0, 0, 1);
}

.categoriesWrapper {
	padding: 15px;
}

.categoryContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 15px;
}

.categoryTile {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	height: 100px;
	background-image: url("/images/categories/wood-tile.jpg");
	background-position: center;
	background-size: cover;
}

.categoryTileContainer {
	transition: transform 200ms ease-out;
	cursor: pointer;
}

.categoryTileContainer:hover {
	transform: translateY(-5px);
}

.categoryName {
	text-align: center;
}

.categoryIcon {
	height: 50%;
	color: var(--row-color);
}

.inventoryTable {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	z-index: 0;
}

.tableHeadings {
	background-color: var(--kcd-blue);
	color: #f0e097;
	height: 25px;
	border-bottom: 3px solid black;
	box-shadow: 0px 16px 15px -15px rgb(0, 0, 0);
}

.headingIcon {
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

.itemRow + td tr {
	background-color: #eee5cb;
	position: relative;
	z-index: -1;
}

.itemRow:hover {
	background-color: #f0e097;
}

.tableCell {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid var(--inv-border);
	border-left: 1px solid var(--inv-border);
}
/* item name field */
.itemRow :nth-child(1) {
	text-align: left;
	border-left: none;
}
